/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    position: relative;
    align-items: center;
}
#navbar::before{
    content: "";
    background-color: #000000;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
#logo{
    margin: -6px 30px;
}
#logo img{
    width: 60px;
    height: 60px;
    margin: 5px 5px;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar ul li{
    list-style: none;
    font-size: 1.1rem;
}
#navbar ul li a{
    display: block;
    color: #ffffff;
    padding: 5px 10px;
    margin: 3px 15px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: #000000;
    background-color: #ffffff;
}


#home{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 200px;
}

#home::before{
    content: "";
    background: url(../images/bg1.jpg) no-repeat center center/cover;
    position: absolute;
    height: 174%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#home h1{
    color: #ffffff;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}
.h-primary{
    font-size: 3rem;
    padding: 15px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid #ffffff;
    background-color: #a52a2a;
    color: #ffffff;
    margin: 17px;
    font-size: 1.05rem;
    border-radius: 10px;
    cursor: pointer;
}